@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
body{
    margin: auto;

    
   
//Header passer til begge sider
header{
    text-align: center;
    background-color: #313131;
    font-family: 'Caveat', cursive;
    padding: 0.1em;
    
    h1{
        font-size: 3em;
        color: #EDB506;
    }
}
//Main - index
main{
    background-color: #EDB506;
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
}
//Main info
.infoWrapper{
    background-color: white;
    padding: 2em 0;
  
    h2{
        text-align: center;
    }
    article{  
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 40%;
    padding: 1rem 3rem;
    border: 3px solid #333333;
    border-radius: 2% 4% 2% 4% / 1% 1% 2% 2%;  
        
}
    
}

//Footer på begge side
footer{
    position: static;
  bottom: 0;
  width: 100%;
    background-color: #313131;
    padding: 0.5em 0;
    text-align: center;
    &:hover{
        background-color: white;
    }
    a{
        text-decoration: none;
        font-size: 3em;
        color: #EDB506; 
        font-family: 'Caveat', cursive;
        cursor: pointer;
        
        &:hover{
            color: black;
        }
    }
}
}