@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Road+Rage&display=swap");
body {
  margin: auto;
  background-image: url("paw.png");
}

body header {
  text-align: center;
  background-color: #A4C4B5;
  font-family: 'EB Garamond', serif;
  font-size: 1em;
  padding: 0.1em;
}

body header h1 {
  font-size: 3em;
  color: #fff;
}

body header h1 i {
  color: #ffffff;
}

body header h1 i:hover {
  color: #000;
}

body main {
  margin: 1.5em;
}

body main img {
  max-width: 70%;
  min-height: 70vh;
  max-height: 70vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #F7F7F7;
  border: 0.5em solid #000;
  border-radius: 2% 4% 5% 4% / 1% 1% 2% 2%;
}

body main button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  font-size: 1em;
  color: #fff;
  background-color: #A4C4B5;
  border: solid 2px black;
  padding: 1em 1em;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

body main button:hover {
  background-color: #000;
}

body .infoWrapper {
  padding: 2em 0;
}

body .infoWrapper h2 {
  text-align: center;
}

body .infoWrapper article {
  background-color: #c7ebda;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 1rem 3rem;
  border: 3px solid #333333;
  border-radius: 2% 4% 2% 4% / 1% 1% 2% 2%;
}

body footer {
  position: static;
  width: 100%;
  background-color: #A4C4B5;
  padding: 0.5em 0;
  text-align: center;
}

body footer:hover {
  background-color: #c7ebda;
}

body footer a {
  text-decoration: none;
  font-size: 3em;
  color: #fff;
  font-family: 'EB Garamond', serif;
  cursor: pointer;
}

body footer a:hover {
  color: black;
}
